@font-face {
    font-family: poppins;
    src: url(assets/fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: robboto;
    src: url(../assets/fonts/roboto/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: robboto;
    color: var(--primary-color);
}

:root {
    --primary-color: #333333;
    --secondary-color: #e6b514;
    --tertiary-color: #9a9a9a;
}

.main {
    max-width: 1100px;
    margin: auto;
    min-height: 100vh;
    display: flex;
}

.textSide {
    height: 100vh;
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
    gap: 40px;
}

.textSide .logo {
    text-align: center;
}

.textSide .welcomeNote {
    text-align: center;
    line-height: 25px;
}

.textSide .allLoginContainer{
    display: none;
    margin: 0 auto;  
    gap: 20px;
}
.textSide .userTag{
    padding: 10px 30px;
    border: 1px solid black;
    /* border-radius: 20px; */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.28); */
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.textSide .userTag img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: top center;
    border-radius: 50%;
}
.textSide input {
    border: none;
    outline: none;
    margin-top: 5px;
}

.textSide input::placeholder {
    color: var(--secondary-color);
    font-size: 16px;
}


.textSide .emailInput,
.textSide .passInput {
    width: 100%;
    /* height: 50px; */
    border: 1px solid var(--tertiary-color);
    padding: 10px 20px;
    border-left: 4px solid var(--tertiary-color);
    outline: none;
    display: flex;
    flex-direction: column;
    position: relative;
}

.textSide .emailInput span,
.textSide .passInput span{
    color: var(--tertiary-color);
}


.textSide .rememberMe {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.textSide .rememberMe input{
    margin-right: 20px;
}

/* .textSide .rememberMe span {
    width: 50%;
} */

.textSide #loginBtn,
.textSide #signUpBtn {
    border: 1px solid var(--secondary-color);
    padding: 10px 30px;
    color: var(--secondary-color);
    transition: 0.3s;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.177);
    font-size: 16px;
}

.textSide #loginBtn {
    background-color: var(--secondary-color);
    transition: 0.3s;
    color: #ffffff;
    margin-right: 30px;
}


.imageSide {
    height: 100vh;
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.imageSide img {
    width: 90%;
}